*{
    text-decoration: none !important;
    margin-bottom: 10px !important;
}
.klass{
    font-size: 16px !important;
}
.content_klass, .content_name_of_test{
    border: none !important;
    font-weight: 600 !important;
    border-bottom: 1px solid grey !important;
}
.content_klass{
    width: 20px !important;
}
.content_name_of_test{
    width: 200px !important;
}