body{
    height: 2000px;
}
.navbar{
    padding: 0;
}
.navbar__container{ 
    justify-content: space-around;
}
.navbar__nav-link::after{
    content: "|";
    position: relative;
    top: -1px;
    padding-left: 12px;
}
.last_child_in_navbar:last-child::after{
    content: "";
}
/*Размер текста в navbar`e*/
.fs_nav_item{
    font-size: 12px;
}


.navbar-collapse__left-menu{
    width: 560px;
}
.navbar-collapse__right-menu{
    width: 230px;
}





























.top_site_block{
    background-color: #3a3834;
}
.top_site_menu{
    width: 100%;
    justify-content: space-between;
    height: 40px;
    font-size: 12px;
}
.menu-left__list, .menu-right__list{
    display: block;
}
.menu-left{
    float: left;
}
.menu-left ul, .menu-right ul{
    padding: 12px 0px;
}
.menu-left ul li a, .menu-right ul li a{
    color:#d4d4d4;
    text-decoration: none;
}
.menu-left ul li a::after{
    position: relative;
    content: "|";
    padding: 10px;
    top: -1px;
}
.menu-left ul li a:last-child::after{
    content: "";
}
.menu-left ul li a:hover{
    text-decoration: solid darkblue;
    text-decoration: #d4d4d4;
}
