@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Numans&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:10px;
height:0px;
}
::-webkit-scrollbar-track {
background-color: #261202;
box-shadow:0px 0px 3px #000 inset;
}
::-webkit-scrollbar-thumb {
background-color:#5c2e0a;
box-shadow:0px 1px 1px #261202 inset;
background-position:center;
background-repeat:no-repeat;
}
::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:7px;
height:0px;
}
::-webkit-scrollbar{
width: 11px;
display: none;
}

*{
	text-decoration: none;
	box-sizing: border-box;
}
.gerb{	
	position: relative;
	float: left;
	display: block;	
}
.politest {
	display: flex; 
	font-size: 40px;
	float: left;
	color: white;
	font-family: 'Numans', sans-serif;
	letter-spacing: 1px;
	color: white;
}
