p{
    margin: 0;
    padding: 0;
}
.block_of_children{
    text-align: left;
    width: 300px;
    border: 1px solid lightskyblue;
    margin: 10px auto;
    padding: 10px;
    border-radius: 14px;
    position: relative;
}
.name_of_children{
    font-size: 16px;
    margin-bottom: 5px;
    color: black;
}
.email_of_children{
    font-size: 14px;
    color: rgb(99, 136, 160);
}
.id_of_children{
    font-size: 0;
}
.button_on_the_children{
    border: none;
    color: white;
    position: absolute;
    left: 270px;
    top: 8px;
    border-radius: 50%;
    align-items: center;
    width: 20px;
    height: 20px;
}
.delete_the_child{
    display: block;
    background-color: #87cefaa4;
}
.delete_the_child span{
    font-size: 20px;
    top: -9px;
    left: 6px;
    position: absolute;
    color: white;
}
.add_the_child{
    display: block;
    background-color: midnightblue;
}
.add_the_child span{
    font-size: 15px;
    position: absolute;
    color: white;
    top: -1px;
    left: 4px;
}