*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}
.top_nav{
    position: absolute;
    background-color: white;
    height: 80px;
    width: 100%;
    box-shadow: 1px 1px 5px grey,2px 1px 5px grey,1px 2px 5px grey,2px 2px 5px grey;
}
.nav{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 340px;
}
.name_test_for_which_create_questions{
    display: flex;
    margin: auto;
    border: 1px solid midnightblue;
    color: midnightblue;
    border-radius: 14px;
    font-size: 17px;
    padding: 3px;
    max-height: 50px;
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;

}
.img_for_questions, .add_for_questions{
    display: block;
    width: 50px;
    height: 50px;    
    background-color: midnightblue;
    border: none;
    color: white;
    font-size: 30px;
    padding: 0%;
    text-align: center;
    border-radius: 14px;
    float: left;
}
.block_of_all_questions{
    margin: auto;
    width: 500px;
}
.quest{
    display: block;
    width: 500px;
    border: 1px solid #87cefaa4;
    border-radius: 14px;
    font-size: 16px;
    height: auto;
    padding: 0 10px; 
    padding-top: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.up_quest{
    display: flex;
    justify-content: space-between;
}
.number{
    color: #0087db;
    width: 100px;
}
.content{
    margin-bottom: 7px;
}
.mark{
    color: #0087db;
    display: block;
    bottom: 0;
    margin-bottom: 5px;
}
.delete_quest{
    background-color: #009dff;
    display: flex;
    float: right;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;   
    position: relative;
}
.delete_quest span{
    border: none;
    color: white;
    width: 20px;
    position: absolute;
    top: -1px;
    right: -3px;
}
#block_of_all_questions{
    padding-top: 100px;
    margin: auto;
    width: 500px;
}
.id_quest{
    font-size: 0px;
}


