*{
    text-decoration: none;
}
.pole_create_test{
    border: 1px solid midnightblue;
    border-radius: 14px;
    width: 300px;
    height: 35px;
    margin: 10px;
}
#save_button{
    display: block;
    width: 250px;
    height: 40px;
    font-size: 17px;
    color: white;
    background-color: midnightblue;
    border: none;
    border-radius: 14px;
}
#save_button:hover{
    color: white;
    background-color: rgb(45, 45, 179);
    border: none;
    border-radius: 14px;
}
#go_to_MainMenu{
    display: block;
    width: 250px;
    height: 40px;
    font-size: 17px;
    color: white;
    background-color: midnightblue;
    border: none;
    border-radius: 14px;
    margin: 20px;
}
#go_to_MainMenu:hover{
    display: block;
    width: 250px;
    height: 40px;
    font-size: 17px;
    color: white;
    background-color: rgb(45, 45, 179);
    border: none;
    border-radius: 14px;
    margin: 20px;
}
.enter_pole_create_test{
    border: none;
    width: 280px;
    height: 25px;
}
.select{
    position: relative;
    height: 20px;
    border: none;
    width: 300px;
    font-size: 14px;
    font-weight: 600;
}