*{
    box-sizing: border-box;
}
hr{
    margin-top: 6px;
}
h3{
    margin: 0px;
}
p{
    padding: 0px;
    margin: 0px;
}
.modal-dialog{
    width: 400px;
}
#child__auth, #child__main_menu, #child__list_with_test, #child__writing_test{
    min-height: 600px;
    max-height: 600px;
    position: relative;
}
.none{
    display: none;
}
.block{
    display: block;
}
.own_btn{
    min-width: 200px;
    margin: 5px
}
.own_container{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
#child__tests, #child__write_test{
    overflow: auto;
}
.child__test_button{
    width: 380px;
    border-radius: 10px;
    transition: .5s;
}
.child__test_button:hover{
    background-color: rgb(236, 236, 236);
}
.child__test{
    border-color: rgb(62, 62, 243);
    border-radius: 10px;
    border: 1px solid midnightblue;
    position: relative;
    height: 145px;
}
.name_of_the_test{
    color: rgb(12, 12, 77);
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 15px;
}
.class_of_the_test{
    font-size: 16px;
    color: black;
    position: absolute;
    left: 15px;
    top: 30px;
}
.subject_of_the_test{
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 15px;
    top: 50px;
}
.time_of_the_test{
    color: rgb(32, 32, 85);
    font-size: 14px;
    position: absolute;
    left: 15px;
    top: 70px;
}
.time_update_of_the_test{
    color: black;
    font-size: 14px;
    position: absolute;
    top: 100px;
    right: 15px;
}
.user_update_of_the_test{
    color: black;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 115px;
    right: 15px;
}
.color_of_the_test{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    height: 20px;
    border: 0.1px solid silver;
    border-radius: 50%;
}
.allowed{
    background-color: rgb(115, 192, 218);
}
.passed{
    background-color: midnightblue;
}
.banned{
    background-color: rgb(196, 0, 0);
}
.snackbars{
    position: relative;
    margin-top: 10px;
}
#snackbar_zero, #snackbar_second, #create_test, #snackbar_first, #snackbar_third, #snackbar_forth, #snackbar_fifth, #snackbar_sixth, #snackbar_seventh{
    padding: 10px;
    background-color: rgb(53, 53, 53);
    color: white;
    text-shadow: 1px 1px 0.5px black;
    width: 230px;
    box-shadow: 0 5px 10px black;
    border-radius: 10px;
    margin: 10px;
    line-height: 20px;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    left: 20%;
    bottom: -40px;
    font-size: 17px;
}

#snackbar_zero.show, #snackbar_first.show, #create_test.show, #snackbar_second.show, #snackbar_third.show, #snackbar_forth.show, #snackbar_fifth.show, #snackbar_sixth.show, #snackbar_seventh.show{
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: -40px; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: -40px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


.one_question{
    text-align: justify;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgb(174, 174, 255);
    position: relative;
    padding: 15px;
    margin-bottom: 10px;
}
.one_answer{
    display: flex;
    align-items: center;
}
.answer__text{
    font-size: 18px;
    font-weight: 500;
}
.answers_container{
    padding-bottom: 45px;
}
input{
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}
.button_to_end{
    position: absolute;
    z-index: 10;
    height: 40px;
    left: 122px;
    padding: 0 20px;
    bottom: 10px;
}

dialog {
    z-index: 10;
    background-color: rgb(209, 243, 255);
    width: 300px; 
    box-shadow: 0 5px 10px rgb(171, 171, 252);
    border-radius: 5px;
    border: none;
    border-radius: 10px;
    color: black;
}
dialog p{
    margin-bottom: 10px;
}


.pole__update_test{
    border: 1px solid midnightblue;
    border-radius: 14px;
    width: 380px;
    height: 35px;
    margin: 10px;
}  
.pole__enter_update_test{
    border: none;
    width: 300px;
} 
.select{
    position: relative;
    height: 20px;
    border: none;
    width: 300px;
    font-size: 14px;
    font-weight: 600;
}

.teacher__button_question{
    padding: 0;
    outline: none;
    background-color: white;
    border: none;
}
.block__one_question{
    width: 380px;
    height: 77px;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid rgb(115, 192, 218);
    position: relative;
}
.name_of_the_question{
    position: absolute;
    color: rgb(115, 192, 218);
    font-size: 14px;
}
.content_of_the_question{
    position: absolute;
    top: 25px;
    color: black;
    font-size: 16px;
}
.mark_of_the_question{
    position: absolute;
    color: rgb(115, 192, 218);
    top: 51px;
    font-size: 14px;
}


#teacher__list_with_testers hr, #teacher__list_with_results hr{
    margin-bottom: 0;
    padding-bottom: 0;
}
.teacher__container_with_classes{
    padding: 8px;
    height: 62px;
    border-bottom: 1px solid silver;

}
.one_class{
    float: left;
    width: 200px;
    height: 46px;
    border: 1px solid rgb(115, 192, 218);
    border-radius: 10px;
    align-items: center;
    margin-bottom: 15px;
}
.one_class p{
    padding-top: 9px;
    font-size: 18px;
}
.teacher__container_user{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid rgb(115, 192, 218);
    height: 45px;
    padding: 5px 10px;
    position: relative;
}
.name_of_the_user{
    position: absolute;
    color: black;
    top: 0;
    font-size: 15px;
}
.email_of_the_user{
    position: absolute;
    top: 20px;
    font-size: 14px;
}
.mark_of_the_user{
    position: absolute;
    top: 20px;
    font-size: 14px;
}
.data_of_the_user{
    position: absolute;
    color: black;
    font-size: 12px;
    right: 10px;
    bottom: 5px;
}

.teacher__button_user{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: white;
}
.button_to_end2{
    position: absolute;
    z-index: 10;
    height: 40px;
    left: 140px;
    padding: 0 20px;
    bottom: 10px;
}
.button_to_end3{
    position: absolute;
    z-index: 10;
    height: 40px;
    left: 100px;
    padding: 0 20px;
    bottom: 10px;
}