*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: black;
}
body{
	background-color: #e6e5e3;
}
th{
	font-size: 25px;
	padding: 10px;
}
header{
	width: 100%;
	height: 100px;
	background-color: darkgrey;
	color: white;
	margin: 0px;
	background: linear-gradient(to bottom, #999999 29%, #e6e5e3 87%);
	font-family: 'Sansita Swashed', cursive;
	text-shadow: 5px 5px 20px rgba(44,214,249,1), 5px -5px 20px rgba(44,214,249,1), -5px -5px 20px rgba(44,214,249,1), -5px 5px 20px rgba(44,214,249,1), -2px 0 white, 2px 0 white, 0 2px white, 0 -2px white;
}
.header_index{
	background: rgb(230,229,227);
	background: linear-gradient(0deg, rgba(230,229,227,1) 30%, rgba(44,214,249,1) 89%);
	width: 100%;
	height: 200px;
	font-size: 60px;
	text-align: center;
/*	text-shadow: 3px 2px 4px grey;*/
	padding-top: 20px;
	font-family: 'Sansita Swashed', cursive;
	text-shadow: -1px 0 white, 1px 0 white, 0 1px white, 0 -1px white;
}
a.podorozi:hover{
	text-shadow: 1px 1px 3px white;
	font-style: italic;
}
.tr_programmer{
	margin: 0px;
	display: table-row;
    vertical-align: inherit;
    border-bottom: 2px solid black;
}
.tr_programmer:nth-child(even){
	background-color: #f9f9f9;
	margin: 0px;
}
.tr_programmer:hover{
	background-color: #ddd;
	font-weight: bolder;
}
.td_programmer{
	font-size: 17px;
	padding: 5px;
	border-bottom: 1px solid #ddd;
}
.td_programmerc{
	font-size: 17px;
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
.td_programmer>last-children
p.url:hover{
	text-shadow: 2px 2px 4px grey;
}
.vid{
	height: 640px;
	width: 75%;
	margin: auto;
	border-radius: 6px;
	border: 1px solid black;
	border-collapse: collapse;
}
.picture{
	height: 200px;
	width: 70%;
	margin: auto;
	margin-top: 30px;
}
.img_vid{
	width: 100%;
	height: 100%;
}
.name_vid{	
	width: 70%;
	margin: auto;
	margin-top: 20px;
}
.name_vid_text{
	font-size: 30px;
	text-align: center;
}
.content{
	border: 2px solid black;
	height: 260px;
	width: 70%;
	margin: auto;
	overflow-y: auto;
}
.content_text {
	width: 80%;
	text-align: center;
	margin: auto;
	font-size: 20px;
}
.way_to_official{
	float: right;
	height: 40px;
	width: 80px;
	margin-right: 20px;
	margin-top: 10px;
	background-color: grey;
	text-align: center;
}
.css_way_to_official{
	font-size: 20px;
}
.dd_in_rezume{
	background-color: #f5f5f5;
	color: black;
	font-size: 18px;
	padding: 1px;
}
.dt_in_rezume{
	background-color: #ddd;
	color: black;
	font-size: 23px;
	padding: 1px;
	font-weight: bolder;
}
/*НЕ РАБОТАЕТ*/
.left_index_fon{
	background: linear-gradient(to right, #999999 51%, #e6e5e3 109%);
	background-position: left;
}
.right_index_fon{
	background: linear-gradient(to left, #999999 51%, #e6e5e3 109%);
	background-position: right;
/*              */
}
.p_to_index{
	padding: 1%;
	text-align: center;
	font-size: 50px;	
}
.name_row{
	font-family: 'Contrail One', cursive;
	text-shadow: -1px 0 1px blue, 0 1px 1px blue, 1px 0 1px blue, 0 -1px 1px blue;
	font-size: 30px;
}
.list_num_rez{
	margin-left: 40px; 
}
.podorozi{
	color: darkblue;
	font-weight: bolder;
	font-size: 20px;
}
.full{
	width: 70%;
	height: 100%;
	background-color: grey;
	border-collapse: collapse;
	border: 2px black solid	;
	margin: auto;
}
.eighty{
	margin: auto;
	width: 80%;
	box-shadow: 5px -5px 15px grey, 10px -10px 10px grey, -10px -10px 10px grey, 5px -5px 15px grey;
}
.new_row_programmer{
	font-size: 20px;
}
.new_row_programmer_left{
	font-size: 20px;
	text-align: left;
}
.nav_programmer{
	width: 100%;
	background-color: white;
	margin: 20px;
	padding: 1px;
	padding: 5px 20px 10px 20px;
}
.nav_tr_programmer{
	margin: 0px;
	display: table-row;
    vertical-align: inherit;
    border-bottom: 2px solid black;
}
.moreplavci{
	border-collapse: collapse;
	border: 5px black;
}
.main{
	background-color: lightgrey;
	margin:20px 20px 20px 20px;
	border-radius: 20px;
	border: 1px black solid;
	border-collapse: collapse;
}
.nad{
	margin: 10px;
	font-size: 20px;
}
.name{
	color: red;
	text-align: center;
}
.list{
	padding-left: 30px;
	}
.caption{
	font-size: 40px;
	text-align: center;
	font-family: 'Tillana', cursive;
	text-shadow: -1px 0 white, 1px 0 white, 0 1px white, 0 -1px white;
}
.com{
	width: 50px;
	height: 50px;
	padding: 10px;
}
.infa_more{
	padding-left: 20px;
}
.infa{
	border: 1px black solid;
	border-collapse: collapse;
	border-radius: 10px;
	margin: 10px;
	padding: 0px;
}
.in_infa{
	padding: 10px;
}
.nameworks{
	font-size: 30px;
	text-align: center;
}
.url{
	text-align: center;
	font-size: 20px;
	margin: 5px;
}
.nazad{
	font-size: 30px;
	text-align: center;

}
.rezume_first_dl{
	margin-top: 10px;
}
.way_to_nav{
	font-size: 40px;
	margin-right: 10px;
}