*{
    text-decoration: none;
    margin-bottom: 10px;
}
.klass{
    font-size: 16px;
}
.content_klass, .content_name_of_test{
    border: none;
    font-weight: 600;
    border-bottom: 1px solid grey;
}
.content_klass{
    width: 20px;
}
.content_name_of_test{
    width: 200px;
}